/* Styl dla całego dokumentu */
body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Styl dla identyfikatora */
#tytul {
    text-align: center;
    color: #1e214a;
    font-size: 32px;
}

/* Styl dla klasy */
.wstep {
    font-style: italic;
    color: #555;
}

/* Styl dla klasy uwaga */
.uwaga {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

/* Klasa wspólna dla nagłówków */
.naglowek {
    color: darkgreen;
    text-transform: uppercase;
}

/* Styl dla elementu z klasą podkreslony */
.podkreslony {  
    text-decoration: underline;
    font-weight: bold;
}

/* Styl dla identyfikatora info */
#info {
    background-color: #e0f7fa;
    border-left: 5px solid #00897b;
    padding: 10px;
}

/* Styl dla klasy stopka */
.stopka {
    text-align: center;
    color: gray;
    font-size: 14px;
}
