body {
    background-color: #fff8e1;
    margin: 20px;
}

h1 {
    color: #795548;
    text-align: center;
}

img {
    border: 2px solid #795548;
    border-radius: 10px;
    width: 300px;
    display: block;
    margin: 0 auto 20px auto;
}

p {
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5d4037;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 10px;
    color: #6d4c41;
    font-size: 24px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #d7ccc8;
}
