/* z dodaniem dodatkowych czcionek pomogl mi chatgpt, nie zamierzam tego ukrywac :)*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

h1 {
    color: #5a8f58;
    font-family: 'Dancing Script', bold;
}

h2 {
    color: #5ba075;
    font-family: 'Pacifico', bold;
}

p {
    font-family: Arial;
    color: white;
}

ul {
    background-color: #73d66f;
}

body {
    margin: 20px;
    background-color: #223f1e;
}
